@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Alliance </h1>
    <h1>
   <a asp-action="index" asp-controller="Book">View Books</a>
   </h1>
    
</div>
